<head>
</head>
<body>
    <h4>New listing</h4>
    <br>
    <h1>Let your van work for you</h1>
    <br>
    <form action="/listings/new" method="POST">
        <label for="cars">Choose a car:</label>
            <select id="model" name="model" placeholder="Volkswagen">
                <option value="Baolong Pegasus">Baolong Pegasus</option>
                <option value="Barkas B 1000">Barkas B 1000</option>
                <option value="Barkas V 901/2">Barkas V 901/2</option>
                <option value="Bertone Genesis">Bertone Genesis</option>
                <option value="Bestune NAT">Bestune NAT</option>
                <option value="Bisu M3">Bisu M3</option>
                <option value="Buick GL6">Buick GL6</option>
                <option value="Buick GL8">Buick GL8</option>
                <option value="Buick Terraza">Buick Terraza</option>
                <option value="BYD D1">BYD D1</option>
                <option value="BYD M3 DM">BYD M3 DM</option>
                <option value="BYD M6">BYD M6</option>
                <option value="BYD Song Max">BYD Song Max</option>
                <option value="Changan Joice">Changan Joice</option>
                <option value="Changan Ruixing M80">Changan Ruixing M80</option>
                <option value="Changan Ruixing M90">Changan Ruixing M90</option>
                <option value="Changhe Freedom M70">Changhe Freedom M70</option>
                <option value="Changhe M70">Changhe M70</option>
                <option value="Chery V5">Chery V5</option>
                <option value="Chevrolet Astro">Chevrolet Astro</option>
                <option value="Chevrolet Lumina APV">Chevrolet Lumina APV</option>
                <option value="Chevrolet Uplander">Chevrolet Uplander</option>
                <option value="Chevrolet Venture">Chevrolet Venture</option>
                <option value="Chevrolet Zafira">Chevrolet Zafira</option>
                <option value="Chrysler 700C">Chrysler 700C</option>
                <option value="Chrysler ecoVoyager">Chrysler ecoVoyager</option>
                <option value="Chrysler Pacifica">Chrysler Pacifica</option>
                <option value="Chrysler Town & Country">Chrysler Town & Country</option>
                <option value="Chrysler Voyager">Chrysler Voyager</option>
                <option value="Daihatsu Luxio">Daihatsu Luxio</option>
                <option value="DFSK C-Series">DFSK C-Series</option>
                <option value="DFSK K-Series">DFSK K-Series</option>
                <option value="DKW Schnellaster">DKW Schnellaster</option>
                <option value="Dodge Caravan">Dodge Caravan</option>
                <option value="Dodge Mini Ram">Dodge Mini Ram</option>
                <option value="Dongfeng Fengguang 330">Dongfeng Fengguang 330</option>
                <option value="Dongfeng Fengguang 330S">Dongfeng Fengguang 330S</option>
                <option value="Dongfeng Fengguang 370">Dongfeng Fengguang 370</option>
                <option value="Dongfeng Fengxing CM7">Dongfeng Fengxing CM7</option>
                <option value="Dongfeng Fengxing Lingzhi">Dongfeng Fengxing Lingzhi</option>
                <option value="Dongfeng Succe">Dongfeng Succe</option>
                <option value="Eicher Polaris Multix">Eicher Polaris Multix</option>
                <option value="Enranger 727">Enranger 727</option>
                <option value="Enranger 737">Enranger 737</option>
                <option value="Eurovans">Eurovans</option>
                <option value="FAW Freewind">FAW Freewind</option>
                <option value="Ford Aerostar">Ford Aerostar</option>
                <option value="Ford Carousel">Ford Carousel</option>
                <option value="Ford Freda">Ford Freda</option>
                <option value="Ford Galaxy">Ford Galaxy</option>
                <option value="Ford S-Max">Ford S-Max</option>
                <option value="Ford Transit Custom">Ford Transit Custom</option>
                <option value="Ford Windstar">Ford Windstar</option>
                <option value="Foton Gratour im6">Foton Gratour im6</option>
                <option value="Foton Gratour im8">Foton Gratour im8</option>
                <option value="Foton Gratour ix5">Foton Gratour ix5</option>
                <option value="Geely Jiaji">Geely Jiaji</option>
                <option value="Goliath GV800">Goliath GV800</option>
                <option value="Gutbrod Atlas">Gutbrod Atlas</option>
                <option value="Haima 7X">Haima 7X</option>
                <option value="Haima F7">Haima F7</option>
                <option value="Haima Freema">Haima Freema</option>
                <option value="Hanteng V7">Hanteng V7</option>
                <option value="Honda Elysion">Honda Elysion</option>
                <option value="Honda Freed">Honda Freed</option>
                <option value="Honda LaGreat">Honda LaGreat</option>
                <option value="Honda Odyssey">Honda Odyssey</option>
                <option value="Honda Stream">Honda Stream</option>
                <option value="Huansu H2">Huansu H2</option>
                <option value="Huansu H3">Huansu H3</option>
                <option value="Huansu H5">Huansu H5</option>
                <option value="Huansu H6">Huansu H6</option>
                <option value="Huasong 7">Huasong 7</option>
                <option value="Hyundai Custo">Hyundai Custo</option>
                <option value="Hyundai Santamo">Hyundai Santamo</option>
                <option value="Hyundai Trajet">Hyundai Trajet</option>
                <option value="JAC Refine">JAC Refine</option>
                <option value="Jinbei 750">Jinbei 750</option>
                <option value="Jinbei F50">Jinbei F50</option>
                <option value="Joylong EF5">Joylong EF5</option>
                <option value="Joylong EF9">Joylong EF9</option>
                <option value="Joylong iFly">Joylong iFly</option>
                <option value="Karry K50">Karry K50</option>
                <option value="Keyton EX80">Keyton EX80</option>
                <option value="Kia Carnival">Kia Carnival</option>
                <option value="King Long Kairui">King Long Kairui</option>
                <option value="Lancia Phedra">Lancia Phedra</option>
                <option value="Landwind CV9">Landwind CV9</option>
                <option value="Lexus LM">Lexus LM</option>
                <option value="Lifan Xuanlang">Lifan Xuanlang</option>
                <option value="Lloyd LT 500">Lloyd LT 500</option>
                <option value="Luxgen M7">Luxgen M7</option>
                <option value="Mazda Biante">Mazda Biante</option>
                <option value="Mazda Bongo">Mazda Bongo</option>
                <option value="Mazda MPV">Mazda MPV</option>
                <option value="Mazda Premacy">Mazda Premacy</option>
                <option value="Mercedes-Benz R-Class">Mercedes-Benz R-Class</option>
                <option value="Mercedes-Benz Vaneo">Mercedes-Benz Vaneo</option>
                <option value="Mercury Villager">Mercury Villager</option>
                <option value="Volkswagen Microbus">Volkswagen Microbus</option>
                <option value="Mitsubishi Chariot">Mitsubishi Chariot</option>
                <option value="Mitsubishi Delica">Mitsubishi Delica</option>
                <option value="Mitsubishi Grandis">Mitsubishi Grandis</option>
                <option value="Mitsubishi Savrin">Mitsubishi Savrin</option>
                <option value="Nissan Bassara">Nissan Bassara</option>
                <option value="Nissan Elgrand">Nissan Elgrand</option>
                <option value="Nissan Forum">Nissan Forum</option>
                <option value="Nissan Lafesta">Nissan Lafesta</option>
                <option value="Nissan Livina">Nissan Livina</option>
                <option value="Nissan Prairie">Nissan Prairie</option>
                <option value="Nissan Presage">Nissan Presage</option>
                <option value="Nissan Quest">Nissan Quest</option>
                <option value="Nissan Serena">Nissan Serena</option>
                <option value="Oldsmobile Silhouette">Oldsmobile Silhouette</option>
                <option value="Opel Sintra">Opel Sintra</option>
                <option value="Oshan Cosmos">Oshan Cosmos</option>
                <option value="Peugeot 806">Peugeot 806</option>
                <option value="Peugeot 807">Peugeot 807</option>
                <option value="Plymouth Voyager">Plymouth Voyager</option>
                <option value="Pontiac Montana">Pontiac Montana</option>
                <option value="Pontiac Trans Sport">Pontiac Trans Sport</option>
                <option value="Proton Exora">Proton Exora</option>
                <option value="Refine M6">Refine M6</option>
                <option value="Renault Espace">Renault Espace</option>
                <option value="Renault Scénic">Renault Scénic</option>
                <option value="Roewe iMAX8">Roewe iMAX8</option>
                <option value="Saturn Relay">Saturn Relay</option>
                <option value="SEAT Alhambra">SEAT Alhambra</option>
                <option value="Shanxi Hangtian Victory">Shanxi Hangtian Victory</option>
                <option value="SsangYong Rodius">SsangYong Rodius</option>
                <option value="Stout Scarab">Stout Scarab</option>
                <option value="Subaru Exiga">Subaru Exiga</option>
                <option value="Subaru Traviq">Subaru Traviq</option>
                <option value="Suzuki APV">Suzuki APV</option>
                <option value="Suzuki Landy">Suzuki Landy</option>
                <option value="Tata Magic">Tata Magic</option>
                <option value="Tata Venture">Tata Venture</option>
                <option value="Toyota Alphard">Toyota Alphard</option>
                <option value="Toyota Gaia">Toyota Gaia</option>
                <option value="Toyota Isis">Toyota Isis</option>
                <option value="Toyota LiteAce">Toyota LiteAce</option>
                <option value="Toyota Mark">Toyota Mark</option>
                <option value="Toyota Nadia">Toyota Nadia</option>
                <option value="Toyota Noah">Toyota Noah</option>
                <option value="Toyota Previa">Toyota Previa</option>
                <option value="Toyota Sienna">Toyota Sienna</option>
                <option value="Toyota Sienta">Toyota Sienta</option>
                <option value="Trumpchi GM6">Trumpchi GM6</option>
                <option value="Trumpchi GM8">Trumpchi GM8</option>
                <option value="Vauxhall Zafira">Vauxhall Zafira</option>
                <option value="Venucia M50V">Venucia M50V</option>
                <option value="Volkswagen California">Volkswagen California</option>
                <option value="Volkswagen Caravelle">Volkswagen Caravelle</option>
                <option value="Volkswagen I.D. Buzz">Volkswagen I.D. Buzz</option>
                <option value="Volkswagen Routan">Volkswagen Routan</option>
                <option value="Volkswagen Sharan">Volkswagen Sharan</option>
                <option value="Volkswagen Transporter">Volkswagen Transporter</option>
                <option value="Volkswagen Type 2">Volkswagen Type 2</option>
                <option value="Volkswagen Viloran">Volkswagen Viloran</option>
                <option value="Wuling Hongtu">Wuling Hongtu</option>
                <option value="Wuling Rongguang">Wuling Rongguang</option>
                <option value="Wuling Victory">Wuling Victory</option>
                <option value="Yema Spica">Yema Spica</option>
                <option value="Zotye V10">Zotye V10</option>
            </select>
        <br>
        <label for="year">Year: </label>
            <select id="year" name="year">
                <option>1949</option>
                <option value="1940">1940</option>
                <option value="1941">1941</option>
                <option value="1942">1942</option>
                <option value="1943">1943</option>
                <option value="1944">1944</option>
                <option value="1945">1945</option>
                <option value="1946">1946</option>
                <option value="1947">1947</option>
                <option value="1948">1948</option>
                <option value="1949">1949</option>
                <option value="1950">1950</option>
                <option value="1951">1951</option>
                <option value="1952">1952</option>
                <option value="1953">1953</option>
                <option value="1954">1954</option>
                <option value="1955">1955</option>
                <option value="1956">1956</option>
                <option value="1957">1957</option>
                <option value="1958">1958</option>
                <option value="1959">1959</option>
                <option value="1960">1960</option>
                <option value="1961">1961</option>
                <option value="1962">1962</option>
                <option value="1963">1963</option>
                <option value="1964">1964</option>
                <option value="1965">1965</option>
                <option value="1966">1966</option>
                <option value="1967">1967</option>
                <option value="1968">1968</option>
                <option value="1969">1969</option>
                <option value="1970">1970</option>
                <option value="1971">1971</option>
                <option value="1972">1972</option>
                <option value="1973">1973</option>
                <option value="1974">1974</option>
                <option value="1975">1975</option>
                <option value="1976">1976</option>
                <option value="1977">1977</option>
                <option value="1978">1978</option>
                <option value="1979">1979</option>
                <option value="1980">1980</option>
                <option value="1981">1981</option>
                <option value="1982">1982</option>
                <option value="1983">1983</option>
                <option value="1984">1984</option>
                <option value="1985">1985</option>
                <option value="1986">1986</option>
                <option value="1987">1987</option>
                <option value="1988">1988</option>
                <option value="1989">1989</option>
                <option value="1990">1990</option>
                <option value="1991">1991</option>
                <option value="1992">1992</option>
                <option value="1993">1993</option>
                <option value="1994">1994</option>
                <option value="1995">1995</option>
                <option value="1996">1996</option>
                <option value="1997">1997</option>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
                <option value="2000">2000</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select>
        <br>
        <input type="text" placeholder="Enter your city" name="city">
        <br>
        <label for="description">Description: </label><br>
        <textarea placeholder="Help the user understand what your van is all about!" name="description" id="description" cols="30" rows="10"></textarea>
        <br>
        <label for="van_img">Upload a picture: </label>
        <input id="van_img" type="file" name="van_img">
        <br>
        <div id="pricing">
            <h3>Pricing</h3>
            <label for="van_price">Base price: $</label>
            <input type="number" id="van_price" name="van_price" min="10" max="100"><br>
        </div>
        <br>
        <input type="submit" value="submit">
    </form>
<a href="/">Bring me Home</a>
</body>
