<h3>Dashboard</h3>
<h1> Welcome <%= user.name %></h1>
<% if (!user.profile) { %>
    <a href="/profiles/new">Create a profile</a>
<% } else {%>
    <a href="/listings/new">Rent your van</a>
    <a href="/listings/">Trips</a>
    <a href="/">Whishlist</a>
    <a href="/account/">Account</a>
<%  } %> 

<a href="/users/logout">Logout</a>