<h3>Dashboard</h3>
<h1> Welcome <%= user.name %></h1>
<% if (!user.profile) { %>
    <a href="/profiles/new">Create a profile</a>
<% } else {%>
    <a href="/profiles/">My profile</a>
    <a href="/bookings/new">Book a van</a>
    <a href="/listings/">My listings</a>
<%  } %> 

<a href="/users/logout">Logout</a>