<h3>Create a Profile</h3>
<br>

<h1>Hello <%= user.name %>!</h1>
<p>Create a profile and engage with van lovers all around the world.</p>

<form action="/profiles/new" method="POST">
    <div id="user-information">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" name="first_name" placeholder="Alex">
        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" name="last_name" placeholder="Supertramp">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" placeholder="avanlover">
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" placeholder="iam@awesome.com">
    </div>
    <div id="contact-information">
        <label for="address">Address:</label>
        <input id="address" type="text" name="address" placeholder="Fairbanks Bus street, 142">
        <label for="city">City:</label>
        <input id="city" type="text" name="city" placeholder="Thewild">
        <label for="country">Country:</label>
        <input id="country" type="text" name="country" placeholder="United States">
        <label for="postalCode">Postal code:</label>
        <input id="postalCode" type="text" name="postal_code" placeholder="AK 99755">
    </div>
    <div id="about">
        <label for="aboutUser">About me:</label>
        <input id="aboutUser" type="textarea" name="about_user" placeholder="Everybody's different. Trees are different. Let them all be individuals.">
    </div>
    <input type="submit">
</form>
<a href="/dashboard">Bring me Home</a>
<a href="/users/logout">Logout</a>