<h3>User Profile</h3>
<br>
<h1> Hello <%= user.name %></h1>
<p>This is your profile page. You can update your information and manage your bookings.</p>

<a href="/profiles/new">Edit your Profile</a>
<a href="/users/logout">Logout</a>