<body>
    <h4>Search</h4>
    <br>

<p>The search results are displayed below:</p>


<% for(let res of result) {%>
    <h1><%=res.city%></h1>
    <p><%=res.description%></p>
    <b><p><%=res.van_price%>/day</p></b>
<% } %>

    <a href="/">Bring me Home</a>
</body>
